<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>我的文件</title>
        <link rel="stylesheet" href="styles/index.css">
        <link href="styles/style2.css" rel="stylesheet">
        <link rel="shortcut icon" href="favicon.ico">
        <script src="scripts/mock.js"></script>
    </head>
    <body>
        <div id="app">
            <el-container>
                <el-dialog title="上传文件" :visible.sync="dialogVisble" width="30%">
                    <el-upload
                        drag
                        accept="iamge/jpeg,image/png,image/jpg"
                        :auto-upload="false"
                        action=" "
                        file-list="upfilelist"
                        :on-change="handlechange"
                        >
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                        <div class="el-upload__tip" slot="tip">只能上传jpg/png文件,每次一个╮(╯-╰)╭</div>
                    </el-upload>
                    <span slot="footer" class="dialog-footer">
                      <el-button @click="dialogVisble=false">取消</el-button>
                      <el-button type="primary" @click.native.prevent="uploadPoststh">确定</el-button>
                    </span>
                </el-dialog>
                <el-dialog title="创建文件夹(不关不是bug)" :visible.sync="cfVisble" width="30%">
                    <el-input v-model="cfcache" autocomplete="off" maxlength="10"></el-input>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="cfVisble=false">取消</el-button>
                        <el-button type="primary" @click="createFolder">确定</el-button>
                      </span>
                </el-dialog>
                <el-header class="top-head" height="80px">
                    <el-row>
                        <el-col :span="2">
                            <div class="logo">
                                <a href="https://www.west2online.com/" target="_self"><img src="resources/Images/w2logo.png"></a>
                             </div>
                        </el-col>
                        <el-col :span="2" offset="20">
                            <div style="display: inline;">
                                <el-dropdown>
                                    <span class="el-dropdown-link">
                                        <el-avatar :size="50" :src="userInfo.headUrl"></el-avatar>
                                    </span>
                                    <el-dropdown-menu slot="dropdown">
                                      <el-dropdown-item disabled>个人信息</el-dropdown-item>
                                      <el-dropdown-item disabled></el-dropdown-item>
                                      <el-dropdown-item divided @click.native="logOut">注销</el-dropdown-item>
                                    </el-dropdown-menu>
                                  </el-dropdown>
                            </div>
                        </el-col>
                    </el-row>
                </el-header>
                <el-container>
                    <el-aside width="20%" class="sideTree">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                日历
                            </div>       
                          </el-card>
                    </el-aside>
                    <el-main>
                      <el-container>
                        <el-header>
                            <el-row>
                                <el-button type="primary" icon="el-icon-back" plain @click="backtofolder" disabled="primaryif">返回上级</el-button>
                                <el-button type="primary" icon="el-icon-upload" @click="upload">上传文件</el-button>
                                <el-button type="primary" plain icon="el-icon-folder" @click="createFolderToggle">新建文件夹</el-button>
                                <el-button type="primary" plain icon="el-icon-download" @click="">多选下载，待定</el-button>
                                <el-button type="danger" plain icon="el-icon-delete" @click="">多选删除，待定</el-button>
                            </el-row>
                        </el-header>
                        <el-main>
                            <el-row>
                                <el-card>
                                    <el-breadcrumb separator="/">
                                        <el-breadcrumb-item v-for="(item,index) in pathlist" :key="item" @click="backtofolder(item)">{{ item }}</el-breadcrumb-item>
                                    </el-breadcrumb>
                                </el-card>
                            </el-row>
                            <el-table :data="cacheList.slice(0+(pagenow-1)*10,10+(pagenow-1)*10)" style="width: 100%" highlight-current-row >
                            <el-table-column prop="type" label="文件类型">
                                <template slot-scope="scope">
                                    <i :class="[folderif(scope.$index,cacheList) ? 'el-icon-folder' : 'el-icon-picture-outline']"></i>
                                </template>
                            </el-table-column>
                            <el-table-column prop="name" label="文件名" width="180"></el-table-column>
                            <!-- <el-table-column prop="modifyTime" label="修改时间" width="180"></el-table-column> -->
                            <el-table-column prop="size" label="大小"></el-table-column>
                            <el-table-column label="操作">
                                <template slot-scope="scope">
                                    <el-button type="primary" plain size="mini" @click.native="openFolder(scope.$index,cacheList)" v-if="folderif(scope.$index,cacheList)">打开</el-button>
                                    <el-button type="primary" plain size="mini" @click.native="download(scope.$index,cacheList)" v-if="picif(scope.$index,cacheList)">下载</el-button>
                                    <el-button type="danger" plain size="mini" @click.native="deletesth(scope.$index,cacheList)">删除</el-button>
                                </template>
                            </el-table-column>
                            </el-table>
                            <el-pagination
                            :current-page.sync="pagenow"
                            layout="total, prev, pager, next"
                            :total="cacheList.length">
                            </el-pagination>
                        </el-main>
                      </el-container>
                    </el-main>
                </el-container>
            </el-container>
        </div>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="scripts/index.js"></script>
        <script src="scripts/main2.js" type="module"></script>
        <!-- <script src="scripts/mockdata.js"></script> -->
    </body>
</html>