body {
    background-image: url(../resources/Images/✧✦✧_83749193_p71.jpg);
}
.box {
    margin: 10vh auto;
    padding: 20px;
    border:none;
    border-radius: 20px;
    background-color: rgba(253, 253, 253, 0.616);
    width: 27vw;
    line-height: 10px;
    font-size: large;
}
svg {
    height:90px;
    width: 90px;
}
button {
    outline: none;
    padding: 10px 70px;
    background-color: rgb(152, 177, 223);
    border: none;
}
ul {
    list-style: none;
}
li {
    float:left;
    margin: auto auto;
}
.el-row {
    margin-bottom: 20px;
}
.el-row:last-child {
    margin-bottom: 0;
}
.el-button {
    width:100%;
}
